* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #232426;
    height: 100%;
}

/* -----------------PROFILE----------------- */

.profile {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #333437;
    width: 350px;
    height: 100%;
}

.profile-picture {
    position: relative;
    width: 100%;
}

.profile-content {
    padding: 20px;
}

.band-name {
    font-weight: 900;
}

.band-subname {
    font-size: 18px;
    font-style: italic;
}

.band-genres {
    font-style: italic;
    margin-top: 40px;
}

.contact {
    text-align: center;
    margin-top: 40px;
}

.gig-view {
    display: block;
    bottom: 0;
    margin: auto;
    margin-top: 30px;
    color: #ffffff;
    background: #af4ca3;
    border: none;
    width: 180px;
}

/* -----------------CARD DIPSLAY----------------- */

#feed {
    margin: auto;
    margin-left: 350px;
    padding: 40px;
    height: 100%;
    overflow: hidden;
}

#search {
    margin: auto;
    width: 100%;
}

#card-display {
    margin-top: 20px;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow: auto;
}

#card-display::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.gig-card {
    flex: 0 1 32%;
    background: #ffffff;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 1px 1px 5px #111;
    cursor: pointer;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.placeholder {
    visibility: hidden;
}

.card-text {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 900;
}

.card-desc {
    font-size: 18px;
}

.tags {
    color: #af4ca3;
    position: absolute;
    margin-bottom: 10px;
    bottom: 0;
    font-size: 14px;
    font-style: italic;
}

/* -----------------MODAL----------------- */

.modal-dialog {
    max-width: 400px;
}

.modal-body {
    padding: 0;
    background-color: #232426;
}

/* -----------------RESPONSIVENESS----------------- */

@media screen and (max-width: 1300px) {

    .venue-card {
        flex: 0 1 49%;
    }
}

@media screen and (max-width: 1000px) {

    .venue-card {
        flex: 0 1 100%;
    }
}

@media screen and (max-width: 640px) {

    .profile {
        display: none;
    }

    #feed {
        margin-left: 0px;
    }

}

/* .card {
    float: left;
    margin: 20px;
} */



/* FONT BANK 

font-family: 'Lato', sans-serif;

*/