html,
body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #232426;
    height: 100%;
}

.profile {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #333437;
    width: 350px;
    height: 100%;
}

.profile-picture {
    position: relative;
    width: 100%;
}

.profile-content {
    padding: 20px;
}

.band-name {
    font-weight: 900;
}

.band-subname {
    font-style: italic;
}

.band-genres {
    font-style: italic;
    margin-top: 40px;
}

#feed {
    margin: auto;
    margin-left: 350px;
    padding: 50px;
    height: 100%;
}

#search {
    margin: auto;
    width: 100%;
}

#card-display {
    margin-top: 20px;
    overflow: auto;
    height: 100%;
    padding-bottom: 20px;
}

.venue-card {
    background: #ffffff;
    color: #000;
    border: solid 10px #232426;
    border-radius: 10px;
    float: left;
    width: 33.3%;
    height: 350px;
    overflow: auto;
}

.card-text {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 700;
}

.tags {
    font-size: 14px;
    font-style: italic;
}

@media screen and (max-width: 640px) {

    .profile {
        display: none;
    }

}

/* .card {
    float: left;
    margin: 20px;
} */



/* FONT BANK 

font-family: 'Lato', sans-serif;

*/