* {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    background-color: #232426;
    height: 100%;
}

/* -----------------PROFILE GLOBAL----------------- */

.profile-left {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #333437;
    width: 350px;
    height: 100%;
}

.profile-right {
    margin: auto;
    margin-left: 350px;
    padding: 40px;
    /* height: 100%; */
    overflow: hidden;
}

.hide {
    display: none;
}

.profile-picture {
    position: relative;
    width: 100%;
}

.image-profile {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.profile-content {
    padding: 20px;
}

.name {
    font-weight: 900;
    margin-bottom: 20px;
}

.profile-bottom {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    margin-bottom: 2    0px;
    width: 100%;
}

.website-link {
    color: #ffffff;

}

.website-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.logout {
    font-size: 14px;
    display: block;
    bottom: 0;
    margin: auto;
    margin-top: 30px;
    width: 120px;
    background: #232426;
    border: none;
}

.logout:hover {
    background: #1f2022;
}

.logout:active {
    background: #1f2022 !important;
}

.divider {
    border: solid 1px #333437;
    margin-bottom: 10px;
}

/* -----------------PROFILE ARTIST----------------- */

.band-genres {
    font-style: italic;
}

.instruments {
    font-style: italic;
    margin-left: 30px;
}

/* -----------------PROFILE VENUE----------------- */

.venue-address {
    margin-bottom: 0px;
}

/* -----------------GIG DIPSLAY----------------- */

.view-profile {
    display: none;
}

#search {
    margin: auto;
    width: 100%;
}

.card-display {
    margin-top: 20px;
    height: 100%;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    overflow: auto;
}

.card-display::-webkit-scrollbar {
    width: 0 !important;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

.gig-card {
    flex: 1 0 500px;
    margin: 1rem .5em;
    max-width: calc(33% -  1em);
    background: #ffffff;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 1px 1px 5px #111;
}

.image {
    object-fit: cover;
    width: 100%;
    height: 150px;
    border-radius: 10px 10px 0px 0px;
}

.card-text {
    padding: 20px;
}

.card-title {
    font-size: 24px;
    font-weight: 900;
}

.card-desc {
    font-size: 16px;
    margin-bottom: 110px;
}

.card-genre {
    font-size: 12px;
    font-style: italic;
    margin-bottom: 95px;
    position: absolute;
    /* margin-bottom: 20px; */
    bottom: 0;
}

.card-date {
    font-size: 12px;
    margin-bottom: 75px;
    position: absolute;
    /* margin-bottom: 20px; */
    bottom: 0; 
}

.card-button {
    width: 120px;
    position: absolute;
    margin-bottom: 20px;
    bottom: 0; 
}

/* -----------------VENUE FORM DISPLAY----------------- */

.main-title {
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px;
}

/* -----------------MODAL----------------- */

.modal-dialog {
    max-width: 400px;
}

.modal-body {
    padding: 0;
    background-color: #333437;
}

.modal-content {
    height:650px;
}

/* -----------------ALL FORMS----------------- */

.create-profile-heading {
    text-align: center;
    padding-top: 15px;
}

#gig-create,
#venue-create,
#artist-create {
    background-color: #af4ca3;
}

#venue-create #artist-create {
    margin-bottom: 20px;
}

.create-form {
    padding-bottom: 30px;
}

.date-label {
    font-size: 16px;
    color: #ffffff;
    background-color: #232426;
}

/* -----------------Buttons----------------- */

.btn-main {
    color: #ffffff;
    background: #af4ca3;
    border: none;
}

.btn-main:hover {
    color: #ffffff;
    background: #9e3091;
    border: none;
}

.btn-main:active {
    background: #9e3091 !important; 
    border: none;
}

.btn-scnd {
    color: #000;
    background: #ffffff;
    border: none;
}

.btn-scnd:hover {
    color: #000;
    background: #ddd;
    border: none;
}

.btn-scnd:active {
    color: #000 !important;
    background: #ffffff !important;
}

/* -----------------RESPONSIVENESS----------------- */

@media screen and (max-width: 1300px) {

    .gig-card {
        max-width: calc(50% -  1em);
    }
}

@media screen and (max-width: 1000px) {

    .gig-card {
        max-width: calc(100% -  1em);
    }
}

@media screen and (max-width: 640px) {

    .view-profile {
        display: block;
        display: initial;
        margin-right: 10px;
    }

    .profile-left {
        display: none;
    }

    .profile-right {
        margin-left: 0px;
    }

    .main-title {
        margin-left: 0px;
    }

    .venue-filter {
        margin-top: 30px;
    }

}


/* FONT BANK 

font-family: 'Lato', sans-serif;

*/